/* FONTS */

@font-face {
  font-family: "TitilliumWeb";
  font-display: swap;
  src: url("../fonts/TitilliumWeb-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb";
  font-display: swap;
  src: url("../fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb";
  font-display: swap;
  src: url("../fonts/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* END FONTS */

/* GRID */
.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 15px;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 15px;
}

@media (max-width: 768px) {
  .row {
    margin: 0;
  }
}

/* END GRID */

/* RESET STYLES */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'TitilliumWeb', sans-serif;
  color: #2F2F38;
  font-weight: 400;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  position: relative;
  background: #ffffff;
  color: #2F2F38;
  font-family: 'TitilliumWeb', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

.no-focus-outline a:focus,
.no-focus-outline button:focus,
.no-focus-outline input:focus {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
nav {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* CUSTOM STYLES */

/* COLORS 
blue color: #4A90E2;
dark blue color: #2E5E95;
orange color: #FEC15C;
green color: #9ACC68;
dark green color: #337015;

*/

.main-screen {
  background-color: #4A90E2;
  height: 380px;
}

.main-screen__container {
  display: flex;
  height: 100%;
}
.main-screen__image {
  width: 50%;
  height: 100%;
}
.main-screen__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main-screen__text {
  width: 40%;
}
