/* FONTS */

@font-face {
  font-family: "TitilliumWeb";
  font-display: swap;
  src: url("../../shared/fonts/TitilliumWeb-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb";
  font-display: swap;
  src: url("../../shared/fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb";
  font-display: swap;
  src: url("../../shared/fonts/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* END FONTS */

/* GRID */
.container {
  max-width: 1024px;
  margin: auto;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 15px;
}

@media (max-width: 768px) {
  .row {
    margin: 0;
  }
}

/* END GRID */

/* RESET STYLES */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "TitilliumWeb", sans-serif;
  color: #787878;
  font-weight: 400;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  position: relative;
  background: #ffffff;
  color: #787878;
  font-family: "TitilliumWeb", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}

.no-focus-outline a:focus,
.no-focus-outline button:focus,
.no-focus-outline input:focus {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
nav {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* CUSTOM STYLES */

/* COLORS 
blue color: #4A90E2;
dark blue color: #2E5E95;
orange color: #FEC15C;
green color: #9ACC68;
dark green color: #337015;

*/

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
}
.main-screen {
  background-color: #4a90e2;
  height: 370px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
.main-screen__text_logo {
  display: none;
}
.main-screen__container {
  display: flex;
  align-items: center;
  height: 100%;
}
.main-screen__image {
  width: 48%;
  height: 100%;
  position: relative;
  background: #2e5e95;
}
.main-screen__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  width: 500px;
  margin: 0 0 0 auto;
  padding-right: 40px;
}
.main-screen__text {
  width: 29%;
  padding-left: 30px;
}
.main-screen__text_title {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 14px;
}
.main-screen__text_subtitle {
  color: #fec15c;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 14px;
}
.main-screen__text_description {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.banner {
  background: #2e5e95;
  margin-bottom: 50px;
  max-width: 900px;
  margin: 0 auto 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  border-radius: 5px;
}

.banner__text {
  width: 370px;
}
.banner__text * {
  color: #fff;
}
.banner__title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 4px;
}
.banner__button a {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background: #f5a623;
  border-radius: 20px;
  padding: 10px 25px;
}

.icon-checkmark {
  background-image: url("../img/icon-checkmark.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-size: cover;
  display: block;
  margin-right: 15px;
}

.info-block {
  max-width: 850px;
  margin: 0 auto 60px auto;
}

.info-block__heading {
  color: #4a90e2;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

.info-block__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-block__image {
  width: 50%;
}
.info-block__image img {
  display: block;
  width: 80%;
  height: 80%;
  object-fit: contain;
  margin: auto;
}
.info-block__text {
  width: 50%;
}
.info-block__text p {
  font-size: 14px;
  color: #787878;
}
.info-block__title {
  color: #4a90e2;
  font-size: 20px;
  margin-bottom: 15px;
  display: block;
}
.info-block__ul {
  margin-bottom: 15px;
}
.info-block__ul li {
  position: relative;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.info-block__ ul li:before {
  content: "";
  display: block;
  margin-right: 30px;
  width: 5px;
  height: 5px;
  background: #4a90e2;
  border-radius: 100%;
}

.info-block__button {
  text-align: center;
  margin-top: 40px;
}
.info-block__button a {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background: #4a90e2;
  border-radius: 20px;
  padding: 10px 35px;
  transition: all 0.3s ease-in-out;
}
.info-block__button a:hover {
  background: #f5a623;
}
.icon-loupe {
  background-image: url("../../shared/img/loupe.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-size: cover;
  display: block;
  margin-right: 15px;
}

.accordion-toggle {
  display: block;
}
.accordion-content {
  display: none;
}
.accordion-content.active {
  display: block;
}

.accordion-section {
  background: #4a90e2;
  margin-bottom: 36px;
}

.accordion-section__heading {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  padding: 35px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.panel {
  padding: 30px 0 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.panel-header {
  display: block;
  cursor: pointer;
  text-decoration: none;
  background: #4a90e2;
  transition: background-color 0.2s ease-out;
  display: flex;
  align-items: center;
  margin: auto;
  width: 900px;
}

.panel.active .panel-body {
  opacity: 1;
  height: auto;
  visibility: visible;
}

.panel-toggle__image {
  width: 180px;
  min-width: 180px;
  height: 180px;
  min-height: 180px;
  border-radius: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px;
}
.panel-toggle__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.panel-toggle__text {
  display: flex;
  flex-direction: column;
  margin: 0 110px 0 35px;
}
.panel-toggle__title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.panel-toggle__subtitle {
  color: #ffbb4b;
  font-size: 16px;
  margin-bottom: 12px;
}
.panel-toggle__description {
  color: #fff;
}

.panel-body {
  height: 0;
  opacity: 0;
  margin: 30px auto auto auto;
  width: 1000px;
  overflow: hidden;
  background: #2e5e95;
  visibility: hidden;
  -webkit-transition: height 0.2s ease-out, opacity 0.2s ease-out;
  -o-transition: height 0.2s ease-out, opacity 0.2s ease-out;
  transition: height 0.2s ease-out, opacity 0.2s ease-out;
  position: relative;
}

.panel-body:before {
  content: '';
  background: #4a90e2;
  width: 20px;
  height: 20px;
  left: 130px;
  top: -10px;
  position: absolute;
  transform: rotate(45deg);
}

.panel-body__addition {
  font-size: 14px;
  color: #fff;
  margin: 13px 0;
  padding: 0 30px;
}

.panel-body__addition a {
  color: #ffbb4b;
  font-weight: 700;
}
.panel-body__footer {
  background: rgba(0, 0, 0, 0.2);
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  z-index: 1;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
}

.panel-body__list {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.panel-body__item_title {
  margin-bottom: 15px;
  color: #fff;
}
.panel-body__item {
  padding-top: 15px;
  width: 24%;
}
.panel-body__item_image {
  height: 140px;
  position: relative;
}
.panel-body__item_image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.panel-body__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: #4a90e2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.panel-body__item:hover .panel-body__link {
  opacity: 1;
}

.panel-body__link_item {
  display: flex;
  align-items: center;
  height: 50%;
  padding: 20px;
  cursor: pointer;
}

.panel-body__link .panel-body__link_item:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.panel-body__link_item span {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.panel-body__link_item img {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

.accordion-column__heading {
  font-size: 32px;
  font-weight: 700;
  color: #4a90e2;
  text-align: center;
  margin-bottom: 30px;
}

.accordion-column .panel-header {
  width: 30%;
  flex-direction: column;
}

.accordion-column .accordion {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.accordion-column .panel {
  width: 33%;
  border: none;
  margin-bottom: 24px;
}

.accordion-column .panel-header {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  /* overflow: hidden; */
  padding: 30px 16px;
  position: relative;
}

.accordion-column .panel.active .panel-header {
  background: rgb(198, 224, 255);
}
.accordion-column .panel-header:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
  transform: rotate(45deg);
  background: rgb(198, 224, 255);
  opacity: 0;
  transition: all .3s ease-in-out;
  z-index: -1;
}
.accordion-column .panel.active .panel-header:before {
  opacity: 1;
}
.accordion-column .panel-toggle__title {
  font-size: 16px;
  color: #4A90E2;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}
.accordion-column .panel-toggle__description {
  color: #787878;
}

.accordion-column .panel-body {
  z-index: 2;
}

.accordion-column .panel-body:before {
  background: #fff;
  left: 158px;
}

.accordion-column .panel-2 .panel-body {
  margin-left: -344px;
}
.accordion-column .panel-2 .panel-body:before {
  left: 502px;
}
.accordion-column .panel-3 .panel-body {
  margin-left: -687px;
}
.accordion-column .panel-3 .panel-body:before {
  left: 845px;
}
.accordion-column .panel-toggle__text {
  margin: 0;
}

.accordion-column .panel-toggle__image {
  background: transparent;
  padding: 0;
  width: 200px;
  height: 190px;
  margin-bottom: 4px;
}

.accordion-column .panel-body {
  background: #4A90E2;
}
.accordion-column .panel-body__link {
  background: #2E5E95;
}

footer {
  background: #2E5E95;
  padding: 20px 15px;
}
.footer-text {
  text-align: center;
  color: #4A90E2;
  font-weight: 700;
}
.footer-text a {
  color: #4A90E2;
  font-weight: 700;
}

.accordion-section .panel:last-child {
  padding-bottom: 20px;
}

.copyLink:hover span {
  text-decoration: underline;
}

.copyLink {
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 100%;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.copyLink:after {
  content: "";
  background: #fff;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.copyLink:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
@media (max-width: 1100px) {
  .main-screen__image img {
    width: 100%;
  }
  .main-screen__text {
    width: 40%;
  }
  .banner {
    width: 90%;
  }
  .panel-header {
    width: 90%;
  }
  .panel-toggle__text {
    margin: 0 40px;
  }
  .panel-body {
    width: 95%;
    margin: 30px auto auto auto;
  }
  .panel-body__link_item {
    padding: 10px 15px;
  }
  .accordion {
    flex-direction: column;
    align-items: center;
  }
  .accordion-column .panel {
    width: 100%;
  }
  .accordion-column .panel-header {
    width: 70%;
    margin-bottom: 0;
    padding: 0 20px 10px 20px;
  }
  .accordion-column .panel-body:before {
    background: #fff;
    left: calc(50% - 10px);
  }
  .accordion-column .panel-2 .panel-body {
    margin: 30px auto auto auto;
  }
  .accordion-column .panel-2 .panel-body:before {
    left: calc(50% - 10px);
  }
  .accordion-column .panel-3 .panel-body {
    margin-left: auto;
  }
  .accordion-column .panel-3 .panel-body:before {
    left: calc(50% - 10px);
  }
}

@media (max-width: 767px) {
  .main-screen {
    flex-direction: column;
    height: auto;
  }
  .main-screen__image {
    width: 100%;
    padding: 18px;
  }
  .main-screen__text {
    width: 100%;
    padding: 15px;
  }
  .banner {
    flex-direction: column;
    width: 90%;
    max-width: 100%;
    padding: 20px;
  }
  .banner__text {
    width: 100%;
    margin-bottom: 16px;
  }
  .info-block {
    padding: 0 15px;
  }
  .info-block__content {
    flex-direction: column;
  }
  .info-block__image {
    width: 100%;
    margin-bottom: 15px;
  }
  .info-block__text {
    width: 100%;
  }
  .panel-header {
    width: 100%;
    flex-direction: column;
  }
  .panel-toggle__text {
    margin: 0 20px 30px 20px;
  }
  .panel-toggle__image {
    margin-bottom: 20px;
  }
  .accordion-section__heading {
    font-size: 18px;
    padding: 24px;
  }
  .panel-body {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .panel-body:before {
    left: calc(50% - 10px);
  }
  .panel-body__list {
    flex-direction: column;
  }
  .panel-body__item {
    width: 100%;
  }
  .panel-body__item_image {
    height: 300px;
  }
  .panel-body__footer {
    padding: 14px 20px;
    text-align: center;
    width: 100%;
    height: auto;
  }
  .panel-body__addition {
    margin: 22px 0;
  }
  .accordion-column__heading {
    font-size: 18px;
    padding: 0 20px;
  }
  .accordion-column .panel-header {
    width: 100%;
  }
  .accordion-column .panel.active .panel-header {
    background: #fff;
  }
  .accordion-column .panel.active .panel-header:before {
    opacity: 0;
  }
  .accordion-column .accordion .panel:last-child {
    margin-bottom: 0;
  }
  .main-screen__image img {
    padding: 0;
  }
}

@media (max-width: 567px) {
  .panel-body__item_image {
    height: 180px;
  }
}